<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated emfta -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.cmu.emfta.emfta.presentation.emftaModelWizardID"
            name="%_UI_emftaModelWizard_label"
            class="edu.cmu.emfta.emfta.presentation.emftaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/emftaModelFile.gif">
         <description>%_UI_emftaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated emfta -->
      <editor
            id="edu.cmu.emfta.emfta.presentation.emftaEditorID"
            name="%_UI_emftaEditor_label"
            icon="icons/full/obj16/emftaModelFile.gif"
            extensions="emfta"
            class="edu.cmu.emfta.emfta.presentation.emftaEditor"
            contributorClass="edu.cmu.emfta.emfta.presentation.emftaActionBarContributor">
      </editor>
   </extension>
</plugin>
