<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.cmu.emfta.actions.CutsetAction"
           id="edu.cmu.emfta.actions.CutsetAction">
     </javaActions>
  </extension> 
  
    <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.cmu.emfta.actions.ProbabilityConsistencyAction"
           id="edu.cmu.emfta.actions.ProbabilityConsistencyAction">
     </javaActions>
  </extension> 
  
      <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.cmu.emfta.actions.ComputeProbabilityAction"
           id="edu.cmu.emfta.actions.ComputeProbabilityAction">
     </javaActions>
  </extension> 
  
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            
            class="edu.cmu.emfta.preferences.PreferencePage"
            id="edu.cmu.emfta.preferences.PreferencePage"
            name="EMFTA">
      </page>
   </extension>
   
   
       <extension
         id="edu.cmu.emfta.AnalysisType"
         name="Analysis Type"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.emfta.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   
    <extension
         id="edu.cmu.emfta.ReportType"
         name="Report Type"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.emfta.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         id="edu.cmu.emfta.marker"
         name="EMFTA Marker"
         point="org.eclipse.core.resources.markers">
      	<persistent value="true">
        </persistent>
   </extension>
   
</plugin>
