<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * Copyright (c) 2015 Carnegie Mellon University.
 * All Rights Reserved.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS," WITH NO WARRANTIES WHATSOEVER.
 * CARNEGIE MELLON UNIVERSITY EXPRESSLY DISCLAIMS TO THE FULLEST 
 * EXTENT PERMITTEDBY LAW ALL EXPRESS, IMPLIED, AND STATUTORY 
 * WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND 
 * NON-INFRINGEMENT OF PROPRIETARY RIGHTS.

 * This Program is distributed under a BSD license.  
 * Please see license.txt file or permission@sei.cmu.edu for more
 * information. 
 * 
 * DM-0003411
 */
-->

<plugin>

  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.cmu.emfta.actions.CutsetAction"
           id="edu.cmu.emfta.actions.CutsetAction">
     </javaActions>
  </extension> 
  
    <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.cmu.emfta.actions.ProbabilityConsistencyAction"
           id="edu.cmu.emfta.actions.ProbabilityConsistencyAction">
     </javaActions>
  </extension> 
  
      <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.cmu.emfta.actions.ComputeProbabilityAction"
           id="edu.cmu.emfta.actions.ComputeProbabilityAction">
     </javaActions>
  </extension> 
      <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.cmu.emfta.actions.UpdateProbabilityAction"
           id="edu.cmu.emfta.actions.UpdateProbabilityAction">
     </javaActions>
  </extension>   
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            
            class="edu.cmu.emfta.preferences.PreferencePage"
            id="edu.cmu.emfta.preferences.PreferencePage"
            name="EMFTA">
      </page>
   </extension>
   
   
       <extension
         id="edu.cmu.emfta.AnalysisType"
         name="Analysis Type"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.emfta.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   
    <extension
         id="edu.cmu.emfta.ReportType"
         name="Report Type"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.emfta.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         id="edu.cmu.emfta.marker"
         name="EMFTA Marker"
         point="org.eclipse.core.resources.markers">
      	<persistent value="true">
        </persistent>
   </extension>
   
</plugin>
