<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * Copyright (c) 2015 Carnegie Mellon University.
 * All Rights Reserved.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS," WITH NO WARRANTIES WHATSOEVER.
 * CARNEGIE MELLON UNIVERSITY EXPRESSLY DISCLAIMS TO THE FULLEST 
 * EXTENT PERMITTEDBY LAW ALL EXPRESS, IMPLIED, AND STATUTORY 
 * WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND 
 * NON-INFRINGEMENT OF PROPRIETARY RIGHTS.

 * This Program is distributed under a BSD license.  
 * Please see license.txt file or permission@sei.cmu.edu for more
 * information. 
 * 
 * DM-0003411
 */
-->

<plugin>
	<extension
	      point="org.eclipse.ui.newWizards">
		<category
		   id = "edu.cmu.emfta.wizards"
		   name="EMFTA Wizards"
		   >
		</category>
	 	<wizard
	 	   project="true"
		   id = "edu.cmu.emfta.wizards.newfile"
	       name = "New EMFTA file"
	       icon="imgs/logo.png"
		   class="edu.cmu.emfta.wizards.EmftaWizardNewfile"
		   category="edu.cmu.emfta.wizards">
		</wizard>
	</extension>
   
</plugin>
