<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
	<extension
	      point="org.eclipse.ui.newWizards">
		<category
		   id = "edu.cmu.emfta.wizards"
		   name="EMFTA Wizards"
		   >
		</category>
	 	<wizard
	 	   project="true"
		   id = "edu.cmu.emfta.wizards.newfile"
	       name = "New EMFTA file"
		   class="edu.cmu.emfta.wizards.EmftaWizardNewfile"
		   category="edu.cmu.emfta.wizards">
		</wizard>
	</extension>
   
</plugin>
